body {
    font-family: sans-serif;

}

.row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: block;
}

h1,h3 {
    text-align: center;
}
button {
    display: inline-block;
    padding: 15px 30px 15px 30px;
    border-radius: 99px;
    background: rgba(1,1,1,0.8);
    font-family: sans-serif;
    color: white;
    outline: none;
}

button {
    cursor: pointer;
}

button:hover {
    background: rgba(1,1,1,1);
}